.Editor {
    display: flex;
    justify-content: center;
    width: 100%;

    form {
        display: flex;
        width: 90%;
        justify-content: center;
        flex-direction: column;

        label {
            background-color: white;
            font-weight: bold;
        }

        input,
        select {
            padding: 5px;
            outline: none;
            border: none;
            border-bottom: 1px solid blue;
        }
    }
}