.Filter {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(150, 150, 150);
    align-items: center;
    width: 100%;

    .title {
        margin: 10px;
    }

    .filter-commands {
        width: 100%;
        display: flex;
        align-items: center;

        .input-search,
        .button-search {
            padding: 5px;
            margin-left: 10px;
        }

        .new-task-button {
            margin-left: auto;
            justify-content: flex-end;
            margin-right: 20px;
            background-color: green;
            color: white;
            padding: 5px;
        }
    }
}