.ViewTask {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40vw;
    min-width: 30vw;
    padding: 20px;
    background-color: white;

    .details {
        width: 100%;
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: repeat(10, 40px);

        .c-t {
            color: #000000;
            background-color: rgb(179, 176, 176);
            width: 200px;
            display: flex;
            font-weight: bold;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid gray;
        }

        .c-d {
            color: #000000;
            background-color: rgb(221, 221, 221);
            width: 100%;
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid gray;

            &.upper-case {
                text-transform: capitalize;
            }
        }
    }

    hr {
        width: 100%;
        height: 1px;
    }

    .view-command-buttons {
        display: flex;
        align-items: center;

        button {
            margin: 20px;
        }
    }
}