.App {
  width: 100%;
  display: flex;
  border: 1px solid red;


  .left-block {
    display: flex;
    width: 50vw;
    flex-direction: column;
    border: 1px solid black;

    .task-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .right-block {
    width: 50vw;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid blue;
  }

}